body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  background-color: rgba(150, 152, 166, 0.05);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 15px;
}
header {
  display: flex;
  justify-content: center;
  gap: 300px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  background-color: white;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  position: fixed;
  width: 1550px;
  z-index: 22;
}
.burger-menu__checkbox {
  display: none;
}
input {
  display: none;
}
header img {
  width: 200px;
}
nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}
nav:hover a {
  color: rgba(128, 128, 128, 0.3);
  transition: 0.3s ease-in-out;
}

nav a:hover {
  color: #00e676;
}

header button {
  background: linear-gradient(to right, #00b4db, #00e676);
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 150px;
}
header button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.section1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  overflow: hidden;
  padding-bottom: 25px;
}

.section1-div1 {
  margin-left: 85px;
  width: 420px;
  margin-top: 170px;

  transition: 0.5s ease-in-out;
}
.section1-div1:hover {
  transform: scale(1.2);

  opacity: 1;
}
.section1 h3 {
  font-size: 50px;
  color: rgba(45, 49, 77, 1);
  font-weight: normal;
}
.section1 p {
  font-size: 18px;
  color: hsl(233, 8%, 62%);
  font-weight: normal;
  line-height: 1.5;
}
.section1 button {
  background: linear-gradient(to right, #00b4db, #00e676);
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 170px;
  margin-top: 40px;
}
.section1 button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.div-img {
  position: relative; /* علشان العناصر اللي جوا تقدر تبقى Absolute */
  width: 120%;
  max-width: 880px;
  margin: auto;
}
.back {
  display: block;
  width: 1000px;
}

.front {
  position: absolute;
  top: 42%; /* تحكم في مكان الصورة عمودياً */
  left: 50%; /* تحكم في مكان الصورة أفقياً */
  transform: translate(-50%, -50%); /* عشان تبقى في النص بالظبط */
  width: 880px; /* غير الحجم براحتك */
  z-index: 10; /* ده اللي بيخليها فوق */
  margin-left: 140px;
  height: 1100px;
}
.section2 {
  margin-left: 85px;
}
.section2 h3 {
  font-size: 35px;
  color: rgba(45, 49, 77, 1);
  font-weight: normal;
}
.section2 p {
  font-size: 18px;
  color: hsl(233, 8%, 62%);
  font-weight: normal;
  line-height: 1.5;
}
.section3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1350px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}
.section3 div {
  transition: 0.8s ease-in-out;
}
.section3:hover div {
  opacity: 0.01;
  transition: 0.8s ease-in-out;
}
.section3 div:hover {
  transform: scale(1.2);
  transition: 0.8s ease-in-out;
  opacity: 1;
}
.section3 h3 {
  font-size: 25px;
  color: rgba(45, 49, 77, 1);
  font-weight: normal;
}
.section3 p {
  font-size: 16px;
  color: hsl(233, 8%, 62%);
  font-weight: normal;
  line-height: 1.5;
}

.section4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 70px;
  margin-bottom: 70px;
  gap: 70px;
  background-color: white;
  padding-top: 200px;
}
.section4 h1 {
  position: absolute;
  top: 1510px;
  left: 60px;
  font-size: 45px;
  color: gray;
  font-weight: normal;
}
.section4 div {
  background-color: rgb(242, 242, 244);
  margin: auto;
}
.section4 img {
  margin: auto;
  width: 300px;
  aspect-ratio: 1/1;
}
.section4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1400px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 70px;
}
.section4 h3 {
  font-size: 25px;
  color: rgba(45, 49, 77, 1);
  font-weight: normal;
}
.section4 p {
  font-size: 16px;
  color: hsl(233, 8%, 62%);
  font-weight: normal;
  line-height: 1.5;
}
.section4 div {
  transition: 0.8s ease-in-out;
}
.section4:hover div {
  opacity: 0.01;
  transition: 0.8s ease-in-out;
}
.section4 div:hover {
  transform: scale(1.2);
  transition: 0.8s ease-in-out;
  opacity: 1;
}
footer {
  background-color: rgba(45, 49, 77, 1);
}

.fotter-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 120px;
  max-width: 1050px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer p {
  font-size: 16px;
  color: hsl(233, 8%, 62%);
  font-weight: bold;
  line-height: 1.5;
  transition: 0.5s ease-in-out;
}
footer p:hover {
  color: #00e676;
}
.icon {
  display: flex;
  margin: auto;
  gap: 10px;
}
.icon img {
  transition: 0.5s ease-in-out;
}
.icon img:hover {
  transform: translateY(-10px);
}
footer button {
  background: linear-gradient(to right, #00b4db, #00e676);
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 170px;
  margin-top: 40px;
}
footer button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.first {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 9px;
}

.icon {
  margin-top: 5px;
}
@media (max-width: 425px) {
  .logo {
    display: none;
  }
  header {
    background-color: hsl(233, 8%, 62%);
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.5rem;
    margin-right: 1000px;
  }
  .burger-menu-bar {
    height: 0.3rem;
    width: 4.375rem;
    background-color: black;
    transition: 0.5s ease-in-out;
  }
  header:has(.burger-menu__checkbox:checked) .burger-menu-bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }
  header:has(.burger-menu__checkbox:checked) .burger-menu-bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  header:has(.burger-menu__checkbox:checked) .burger-menu-bar:nth-child(3) {
    transform: translateY(-10px) rotate(-40deg);
  }
  .burger-menu__checkbox:checked + nav {
    top: 90px;
  }
  nav {
    position: absolute;
    margin-right: 1080px;
    width: 100vw;
    gap: 25px;
    top: 0;
    z-index: -22;
    transition: 0.5s ease-in-out;
  }

  .section1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    padding-bottom: 25px;
    overflow: hidden;
    text-align: center;
    padding-top: 100px;
  }
  .section1-div1 {
    margin-top: 0;
    margin-left: 0;
    transform: none;
  }
  .section1-div1:hover {
    transform: none;
    opacity: 1;
  }
  .section1 h3 {
    font-size: 25px;
    color: rgba(45, 49, 77, 1);
    font-weight: normal;
  }
  .section2 h3 {
    font-size: 20px;
    color: rgba(45, 49, 77, 1);
    font-weight: bold;
  }
  .section2 p {
    text-align: center;
  }
  .section1 p {
    font-size: 13px;
    color: hsl(233, 8%, 62%);
    font-weight: normal;
    line-height: 1.5;
  }
  .section3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 10px;
  }
  .section3 div:hover {
    transform: none;
  }
  .section4 div:hover {
    transform: none;
  }
  .section4:hover div {
    transform: none;
  }

  .section4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
  }
  .div-img {
    position: relative; /* علشان العناصر اللي جوا تقدر تبقى Absolute */
    width: 100%;
    margin: auto;
    margin-top: 100px;
  }
  .back {
    display: block;
    width: 350px;
  }

  .front {
    position: absolute;
    top: 42%; /* تحكم في مكان الصورة عمودياً */
    left: 50%; /* تحكم في مكان الصورة أفقياً */
    transform: translate(-50%, -50%); /* عشان تبقى في النص بالظبط */
    width: 300px; /* غير الحجم براحتك */
    z-index: 10; /* ده اللي بيخليها فوق */
    height: 300px;
    margin: auto;
  }

  .section4 h1 {
    position: absolute;
    top: 1990px;
    left: 60px;
    font-size: 30px;
    text-align: center;
    color: gray;
    font-weight: normal;
  }
  .fotter-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: auto;
    text-align: center;
  }
  .fotter-div img {
    margin: auto;
    margin-top: 30px;
  }
  .fotter-div button {
    margin-top: 0;
  }
  .section4 img {
    margin: auto;
    width: 250px;
    aspect-ratio: 1/1;
  }
  .section2 {
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 430px) and (min-width: 425px) {
  header {
    background-color: hsl(233, 8%, 62%);
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.5rem;
    margin-right: 1000px;
  }
  .burger-menu-bar {
    height: 0.3rem;
    width: 4.375rem;
    background-color: black;
    transition: 0.5s ease-in-out;
  }
  header:has(.burger-menu__checkbox:checked) .burger-menu-bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }
  header:has(.burger-menu__checkbox:checked) .burger-menu-bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  header:has(.burger-menu__checkbox:checked) .burger-menu-bar:nth-child(3) {
    transform: translateY(-10px) rotate(-40deg);
  }
  .burger-menu__checkbox:checked + nav {
    top: 90px;
  }
  nav {
    position: absolute;
    margin-right: 1050px;
    width: 100vw;
    gap: 25px;
    top: 0;
    z-index: -22;
    transition: 0.5s ease-in-out;
  }
  .section1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    padding-bottom: 25px;
    overflow: hidden;
    text-align: center;
    padding-top: 100px;
  }
  .section1-div1 {
    margin-top: 0;
    margin-left: 0;
    transform: none;
  }
  .section1-div1:hover {
    transform: none;
    opacity: 1;
  }
  .section1 h3 {
    font-size: 25px;
    color: rgba(45, 49, 77, 1);
    font-weight: normal;
  }
  .section2 h3 {
    font-size: 20px;
    color: rgba(45, 49, 77, 1);
    font-weight: bold;
  }

  .section1 p {
    font-size: 13px;
    color: hsl(233, 8%, 62%);
    font-weight: normal;
    line-height: 1.5;
  }
  .section3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 10px;
  }
  .section3 div:hover {
    transform: none;
  }
  .section4 div:hover {
    transform: none;
  }
  .section4:hover div {
    transform: none;
  }

  .section4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
  }
  .div-img {
    position: relative; /* علشان العناصر اللي جوا تقدر تبقى Absolute */
    width: 100%;
    margin: auto;
    margin-top: 100px;
  }
  .back {
    display: block;
    width: 450px;
  }

  .front {
    position: absolute;
    top: 42%; /* تحكم في مكان الصورة عمودياً */
    left: 50%; /* تحكم في مكان الصورة أفقياً */
    transform: translate(-50%, -50%); /* عشان تبقى في النص بالظبط */
    width: 400px; /* غير الحجم براحتك */
    z-index: 10; /* ده اللي بيخليها فوق */
    height: 350px;
    margin: auto;
  }

  .section4 h1 {
    position: absolute;
    top: 1990px;
    left: 60px;
    font-size: 30px;
    text-align: center;
    color: gray;
    font-weight: normal;
  }
  .fotter-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: auto;
    text-align: center;
  }
  .fotter-div img {
    margin: auto;
    margin-top: 30px;
  }
  .fotter-div button {
    margin-top: 0;
  }
  .section4 img {
    margin: auto;
    width: 250px;
    aspect-ratio: 1/1;
  }
  .section2 {
    margin-left: 0;
    text-align: center;
  }
}
